a:link{
	text-decoration: none;
	color: black;
}
a:visited{
	text-decoration: none;
	color: black;
}
a:active{
	text-decoration: none;
	color: black;
}
#menu_navigation>a{
	padding-left: 15px;
}

#lable_text{
	background-color: #fff;
	font-size: 25px;
}

#lable_error{
	background-color: #f00;
}

#section_form{

}

#note_form{
	display: none;
}

#choice{

}

#choice_text{
	
}