{%extends 'base.html'%}

{%block head_title%}
	Login
{% endblock %}

{%block notes%}
	<form action="{% url 'user_registration' %}" method="post" accept-charset="utf-8">
		{% csrf_token %}
		{% for er in form.non_field_errors %}
			<div id="errors">{{ er }}</div>
		{% endfor %}
		<fieldset>
			{% for field in form %}
				<div id="field_label">
					<div id="label_text">
						{{field.label}}
					</div>
					<div id="lable_error">
						{% if field.errors%}
							{{field.errors.as_text}}
						{% endif %}
					</div>
					
				</div>
				<div id="field_reg_input">
					{{field}}
				</div>
			{% endfor %}
		</fieldset>		
		<button type="submit"> Регистрация </button>
	</form>	
{%endblock%}