{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{% block title %}
			Title
		{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base_style_marking.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base_style_tags.css' %}">
</head>
<body>
	<header id="head_title">
		{% block head_title %}
			Head Title
		{% endblock %}
	</header>
	<nav id="menu_main">
		<a href="/note"><div>Home</div></a>
		<a href=""><div>FAQ</div></a>
		<a href=""><div>About</div></a>
		
			{% if user.is_authenticated  %}
				<div>
					<div>{{user.username}}</div>
					<div id="logout"><a href="{% url 'logout'%}">Log out</a></div>
				</div>
			{% else %}
				<a href="{% url 'user_login' %}"><div>Log In</div></a>
			{% endif %}
		
	</nav>
	<nav id="menu_navigation">
		{% block navigation %}
				Navigation<br>
			{% for n in notes %}
				<a href='{{ n.get_absolute_url }}'>{{ n.title }}</a><br>
			{% endfor %}
	
		{% endblock %}
	</nav>
	<article id="content">
		{% block notes %}
					{% endblock %}
	</article>
	<footer id="footer">
		Foot content
	</footer>
</body>
</html>