{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{% block title %}
			Title
		{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base_style_marking.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base_style_tags.css' %}">
</head>
<body>
	<header id="head_title">
		{% block head_title %}
			Head Title
		{% endblock %}
	</header>
	<nav id="menu_main">
		<a href="/note"><div>Home</div></a>
		<a href=""><div>FAQ</div></a>
		<a href=""><div>About</div></a>
		{% block user %}
			<a href="{% url 'user_login' %}"><div>Log In</div></a>
		{% endblock %}
	</nav>
	<nav id="menu_navigation">
		Navigation<br>
		{% block navigation %}
					
		{% endblock %}
	</nav>
	<article id="content">
		{% block notes %}
			Here must be your Notes
		{% endblock %}
	</article>
	<footer id="footer">
		Foot content
	</footer>
</body>
</html>